<form class="quiz-form" [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  @for (question of quizQuestion; let i = $index; track $index) {
    <div class="question-block">
      <h3 class="question-title">{{ i + 1 }}. {{ question.question }}</h3>

      <div class="options-group" formArrayName="answers">
        @if (!question.multiAnswer) {
          @for (option of question.options; track $index) {
            <label class="option">
              <input type="radio" [value]="option" [formControlName]="i.toString()" />
              {{ option }}
            </label>
          }
        } @else {
          @for (option of question.options; track $index) {
            <label class="option">
              <input
                type="checkbox"
                [value]="option"
                (click)="onCheckboxChange($event, i)"
                [checked]="answers.at(i).value?.includes(option)"
              />
              {{ option }}
            </label>
          }
        }
      </div>
    </div>
  }
  <div class="button-row">
    <button class="cancel-button" (click)="navigateToStart()">Abbruch</button>
    <button class="submit-button" type="submit" [disabled]="quizForm.invalid">Abschicken</button>
  </div>
</form>
